@import "tailwindcss";


:root {

  --background: #06192E;

  --foreground: #ffffff;

}



* {

  box-sizing: border-box;

}



html {

  scroll-behavior: smooth;

}



body {

  margin: 0;

  background: #06192E;

  color: white;

}



button,
input,
textarea {

  font-family: inherit;

}



h1,
h2,
h3,
h4 {

  font-weight: 800;

  letter-spacing: -0.8px;

}



::-webkit-scrollbar {

  width: 10px;

}



::-webkit-scrollbar-track {

  background: #06192E;

}



::-webkit-scrollbar-thumb {

  background: #FF9B71;

  border-radius: 20px;

}

.clip-path-custom {
  clip-path: polygon(8% 0,
      100% 0,
      92% 100%,
      0% 100%);
}

.clip-path-custom {
  clip-path: polygon(8% 0,
      100% 0,
      92% 100%,
      0% 100%);
}


/* smooth scroll */
html {
  scroll-behavior: smooth;
}